.col-4, .col-3, .col-2, .col-1{
    padding: 2px !important;
}



.condictionbodystyle{
    background-color: #eee6e6;
    border-radius: 2px;
    color: black;
    font-weight: 900;
    padding: 10px 4px 2px;}