.StripeElement {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 10px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

* {
  box-sizing: border-box;
}

// /* Create two equal columns that floats next to each other */
.column1 {
  float: left;
  width: 70%;
}

.column2 {
  float: left;
  width: 30%;
  padding-left: 10px;
}


.p-24 {
  padding: 0 24px !important;
}