<div class="d-flex flex-row align-items-center modal-header ">
    <h2 mat-dialog-title class="m-0 dialog-title text-center w-100">{{data?.data?.title|titlecase}} Convert To Event
    </h2>
    <mat-icon mat-dialog-close>close</mat-icon>
</div>
<mat-dialog-content style="height:500px; width: 99% !important;">
    <div class="row mt-2 mb-2 justify-content-end">
       <div class="col-11">
        <div style="display: flex;width: 100%;">
            <div style="width: 20%;" *ngFor="let x of data?.data?.assignedTo">
                <img style="width: 30px; height: 30px; border-radius: 50%; object-fit: cover;"
                    [src]="x.profilePicture? x.profilePicture:'assets/avatar.svg'"
                    onError="this.src='assets/avatar.svg'" alt="User Profile">
                <span style="position: relative;left: 10px;"><b>{{x.userName |titlecase}}</b></span>
            </div>
        </div>
       </div>
    </div>
    <form [formGroup]="form">
        <div class="row mt-2 justify-content-start">
            <div class="col-4">
                <div class="row dateandtime">
                    <div class="col-6">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>{{"Start Date"|translate}} <span class="danger">* </span></mat-label>
                            <input matInput [matDatepicker]="startdatepicker1" style="color: black;"
                                formControlName="StartDate"(dateChange)="getstartInEvent($event.value)">
                            <mat-datepicker-toggle matSuffix [for]="startdatepicker1"></mat-datepicker-toggle>
                            <mat-datepicker #startdatepicker1></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <ng-container *ngIf="getstartdatestatus()">
                            <mat-form-field appearance="fill" class="w-100">
                                <mat-label>{{"Start Time"|translate}} <span class="danger">* </span></mat-label>
                                <mat-select formControlName="StartTime">
                                    <mat-option *ngFor="let time of gettimeList" [value]="time" (click)="getstarttime()">
                                        {{ time }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-container>
                        <ng-container *ngIf="!getstartdatestatus()">
                            <mat-form-field appearance="fill" class="w-100">
                                <mat-label>{{"Start Time"|translate}} <span class="danger">* </span></mat-label>
                                <mat-select formControlName="StartTime">
                                    <mat-option *ngFor="let time of timeList" [value]="time" (click)="getstarttime()">
                                        {{ time }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row dateandtime">
                    <div class="col-6">
                        <mat-form-field appearance="fill" class="w-100" >
                            <mat-label>{{"End Date"|translate}} <span class="danger">* </span></mat-label>
                            <input  matInput [matDatepicker]="enddatepicker1" style="color: black;"
                                formControlName="EndDate" readonly="true">
                            <mat-datepicker-toggle [disabled]="true"  matSuffix [for]="enddatepicker1"></mat-datepicker-toggle>
                            <mat-datepicker [disabled]="true" #enddatepicker1></mat-datepicker>
                        </mat-form-field>
                    </div>̉
                    <div class="col-6">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>{{"End Time"|translate}} <span class="danger">* </span></mat-label>
                            <mat-select formControlName="EndTime" [disabled]="true">
                                <mat-option *ngFor="let time of timeList" [value]="time">
                                    {{ time }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <!-- <div class="col-3" *ngIf="!getScheduledstatus()">
                <mat-list-item>
                    <mat-checkbox formControlName="isScheduled">
                        {{"Do You want to Schedule ?"|translate}}</mat-checkbox>
                </mat-list-item>
           </div> -->
           <div class="col-5" *ngIf="getisScheduledstatus()">
            <div class="row dateandtime">
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{"User Start Time"|translate}} <span class="danger">* </span></mat-label>
                        <mat-select formControlName="scheduledStartTime">
                            <mat-option *ngFor="let time of timeList" [value]="time" (click)="getstarttime()">
                                {{ time }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>̉
                <div class="col-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>{{"User End Time"|translate}} <span class="danger">* </span></mat-label>
                        <mat-select formControlName="scheduledEndTime" >
                            <mat-option *ngFor="let time of timeList" [value]="time" (click)="getstarttime()">
                                {{ time }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="col-3" *ngIf="getisScheduledstatus()">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>{{"Exclude Days"|translate}}</mat-label>
                <mat-select (selectionChange)="onSelectionChange()" multiple formControlName="scheduledStartTime">
                    <mat-option *ngFor="let day of excludeDays" [value]="day" (click)="getstarttime()">
                        {{ day }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
            <div class="col-2">
                <button mat-raised-button class="w-75" [ngClass]="!form.valid? 'g-blue':'b-blue'"
                [disabled]="!form.valid" (click)="submit()">{{"Apply"|translate}}</button>
           </div>
        </div>
    </form>
    <div class="row w-100">
        <pm-calendar-header class="w-100" (dayViewChanged)="dayViewChanged($event)"
            (calendarViewChanged)="calendarViewChanged($event)" [(view)]="calendarView" [(viewDate)]="viewDate"
            [smallDevice]="smallDevice">
        </pm-calendar-header>
    </div>
    <div class="row mb-2 justify-content-center">
        <div class="col-11 p-0 m-0">
            <!-- calendar-week  -->
            <mwl-calendar-week-view style="width:900px !important; overflow-x: scroll"
                *ngIf="calendarView =='week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
                [snapDraggedEvents]="snapDraggedEvents" [dayStartHour]="0" [dayEndHour]="23"
                (eventClicked)="eventClicked($event.event)">
            </mwl-calendar-week-view>
            <!-- calendar-week  -->
            <!-- calendar-day  -->
            <mwl-calendar-day-view style="width:900px !important; overflow-x: scroll"
                *ngIf="calendarView =='day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
                [dayStartHour]="0" [dayEndHour]="23" (eventClicked)="eventClicked($event.event)"
                [snapDraggedEvents]="snapDraggedEvents">
            </mwl-calendar-day-view>
            <!-- calendar-day  -->

            <!-- ----------------------  -->




            <div style="display: flex;justify-content: flex-end;position: fixed;top: 120px;right: 200px; z-index: 1;width: 15%;" *ngIf="showUsers&&availableUsersList.length!=0">
                <div style="display: flex;width: 100%;justify-content: end;">
                    <div style="width: 100%;background-color: white;">
                        <div >
                            <div class="row row_design" >
                                <div class="col-10">
                                    <span class="design"> {{'People Available'|translate}}</span>
                                </div>
                                <div class="col-1">
                                    <span class="close floatright" (click)="showUsers = !showUsers"> X </span>
                                </div>
                            </div>
                            <ul>
                                <li class=" fw-600 color_grey" *ngFor="let data of availableUsersList">
                                    <img [src]="data.profilePicture ? data.profilePicture : 'assets/avatar.svg'" />
                                    {{data.firstName+' '+data.lastName|titlecase}}
                                </li>
                            </ul>
                            <ng-container *ngIf="availableUsersList.length==0">
                                <h2 style="text-align: center;">No user Available</h2>
                            </ng-container>
                           </div>
                           <div class="row mb-2 justify-content-around">
                         <div class="col-sm-6">
                            <button mat-raised-button style="margin-top: 10px;"  (click)="submit()"
                                class="b-blue">{{'Apply'|translate}}</button>
                          </div>
                             <div class="md-col-6">
                           <button mat-raised-button style="margin-top: 10px;"  (click)="closeshowUsers()"
                               class="W-blue">{{'Cancel'|translate}}</button>
                         </div>
                           </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>