<div>
    <div class="imagelogo">
        <div class="mainimageBodystart">
            <div class="body">
                <h2 class="mainimageTitle">{{"Fichiers"|translate}} & {{"Notes"|translate}}</h2>
                <h2 class="mainimageText">
                    {{"Simples, ludiques et incroyablement puissants"|translate}}
                </h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-12 col-sm-12  col-md-12 col-lg-6 col-xl-6  imageright1"></div>
        <div class="col-12 col-12 col-sm-12  col-md-12 col-lg-6 col-xl-6  textcontentbody">
            <div style="padding: 10px;">
                <h2 class="blockteststyle">
                    {{"Ce module me permet de faciliter la création d'échanges et de suivis au sein de mes équipes"|translate}}                    
                </h2>
                <div class="row">
                    <div class="col-4" style="display: flex;justify-content: end;">
                        <mat-icon (click)="Videoplay('https://drive.google.com/file/d/1WqQ3jSbo4K3apVtC6TdX1xhNnvl29X63/preview')" class="playiconstyle">play_circle_outline</mat-icon>
                    </div>
                    <div class="col-8">
                        <h4 class="singnaturestyle"> Anne Brunelle </h4>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: black;">
        <div class="col-12 order-2  col-sm-12 order-sm-2 col-md-12 order-md-2 col-lg-6 order-lg-1 order-xl-1 col-xl-6 textcontentbody">
            <div style="padding: 10px;">
                <h2 class="whiteteststyle">
                    {{"Je peux créer des groupes de notes mutualisées, tout en ayant la possibilité de créer des notes privées"|translate}}
                </h2>
                <div class="row">
                    <div class="col-4" style="display: flex;justify-content: end;">
                        <mat-icon (click)="Videoplay('https://drive.google.com/file/d/1t6aE9xldOX_gP8rkuiqrBmMAKP4u8D8t/preview')" class="playiconstyle">play_circle_outline</mat-icon>
                    </div>
                    <div class="col-8">
                        <h4 class="singnaturestyle1"> Paul Fondal </h4>
                </div>
            </div>
            </div>
        </div>
        <div class="col-12 order-1 col-sm-12 order-sm-1 col-md-12 order-md-1 col-lg-6 order-lg-2 col-xl-6 order-xl-2 imageright2"> </div>
    </div>

    <div class="row">
        <div class="col-12 col-12 col-sm-12  col-md-12 col-lg-6 col-xl-6  imageright3"> </div>
        <div class="col-12 col-12 col-sm-12  col-md-12 col-lg-6 col-xl-6  textcontentbody">
            <div style="padding: 10px;">
                <h2 class="blockteststyle">
 {{"Ce module me donne la possibilité de restreindre le montant des remises pour chaque membre de mon équipe et de gérer l'accès aux différents modules"|translate}}                    
                </h2>
                <div class="row">
                    <div class="col-4" style="display: flex;justify-content: end;">
                        <mat-icon (click)="Videoplay('')" class="playiconstyle">play_circle_outline</mat-icon>
                    </div>
                    <div class="col-8">
                        <h4 class="singnaturestyle"> Chloe Hatier </h4>
                    </div>
            </div>
        </div>
    </div>
</div>
