
.itanlist{
  padding: 10px 10px 10px 10px
}
mat-dialog-content {
padding: 0 !important;
margin: 0 !important;
}
.mat-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  width: 24px;
  position: relative;
  top: 5px;
  right: 5px;
}
