<div>
    <div class="imagelogo">
        <div class="mainimageBodystart">
            <div class="body">
                <h2 class="mainimageTitle">{{"Customer Relationship Management"|translate}} </h2>
            </div>
        </div>
    </div>

    <div class="row" >
        <div class="col-12 col-12 col-sm-12  col-md-12 col-lg-6 col-xl-6 imageright2"></div>
        <div class="col-12 col-12 col-sm-12  col-md-12 col-lg-6 col-xl-6 textcontentbody" >
            <div style="padding: 10px;">
                <h2 class="blockheaderstyle">
                    {{"Increased Productivity"|translate}}
                </h2>
                <h2 class="blockteststyle">
                    {{"“I can plan my tasks with confidence, knowing that they will adapt to my time :"|translate}}
                </h2>
                <div class="row" *ngFor="let x of Productivity">
                    
                    <div class="col-2 mt-2"><mat-icon>done</mat-icon></div>
                    <div class="col-10">
                        <h2 class="blockteststyle">
                            {{x|translate}}
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <!-- <div class="col-3 mt-2" style="display: flex;justify-content: end;">
                        <mat-icon (click)="Videoplay('https://drive.google.com/file/d/1CDw1SlUe2tFvFnEoUKvOeZtqmn2DOD8O/preview')" class="playiconstyle">play_circle_outline</mat-icon>
                    </div> -->
                    <div class="col-9">
                        <h4 class="singnaturestyle">Marc Vasquez</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="row">
        <div class="col-12 order-2  col-sm-12 order-sm-2 col-md-12 order-md-2 col-lg-6 order-lg-1 order-xl-1 col-xl-6 textcontentbody m-0" style="background-color: black;border: 5px solid white;">
            <div style="padding: 10px;">
                <h2 class="whiteheaderstyle">
                    {{"Performance Optimization"|translate}}                    
                </h2>
                <h2 class="whiteteststyle">
                    {{"“I love it, I kiff... The planning allows me to:"|translate}}                    
                </h2>
                <div class="row" *ngFor="let x of Performance">
                    <div class="col-2 mt-2"><mat-icon>done</mat-icon></div>
                    <div class="col-10">
                        <h2 class="whiteteststyle">
                            {{x|translate}}
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <!-- <div class="col-3 mt-2" style="display: flex;justify-content: end;">
                        <mat-icon (click)="Videoplay('https://drive.google.com/file/d/1mLtzhDxCqzOalnZzZs6qtjZVWFRn6J2w/preview')" class="playiconstyle">play_circle_outline</mat-icon>
                    </div> -->
                    <div class="col-9">
                        <h4 class="singnaturestyle1">Chloe Hatier</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-12 order-1 col-sm-12 order-sm-1 col-md-12 order-md-1 col-lg-6 order-lg-2 col-xl-6 order-xl-2  imageright1" style="border: 5px solid white;"> </div>
    </div>

    <div class="row" >
        <div class="order-2 col-12 col-12 col-sm-12  col-md-12 col-lg-6 col-xl-6 textcontentbody">
            <div style="padding: 10px;">
                <h2 class="blockheaderstyle">
                    {{"More Efficient Project Management"|translate}}                    
                </h2>
                <h2 class="blockteststyle">
                    {{"I have access to all the schedules of my team, thus allowing me to correct certain actions if necessary but also to:"|translate}}                    
                </h2>
                <div class="row" *ngFor="let x of Project">
                    <div class="col-2 mt-2"><mat-icon>done</mat-icon></div>
                    <div class="col-10">
                        <h2 class="blockteststyle">
                            {{x|translate}}
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <!-- <div class="col-4" style="display: flex;justify-content: end;">
                        <mat-icon (click)="Videoplay('')" class="playiconstyle">play_circle_outline</mat-icon>
                    </div> -->
                    <div class="col-8">
                        <h4 class="singnaturestyle">Paul Fondal</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class=" order-1 col-12 col-12 col-sm-12  col-md-12 col-lg-6 col-xl-6 imageright3"> </div>

    </div>

</div>



