table, mat-form-field  {
    width: 100%;
}
mat-form-field {
    padding-top: 15px;
}

.gray {
    background: #f7f7f7;
}

.mat-header-cell {
    font-size: 14px !important;
    color: black !important;
}