mat-checkbox {
    margin-left: 0 !important;
}

.col-6 {
    padding-left: 5px !important;
    padding-right: 0px !important;
}

.avatar {
    height: 30px !important;
    width: 30px !important;
    border-radius: 50px;
    margin-top: -10px;
}