.f-s-18 {
    font-size: 18px;
}

.count {
    background-color: #528bf1 !important;
    border-radius: 40px !important;
    height: 33px !important;
    width: 35px !important;
    padding-top: 6px !important;
    font-size: 18px !important;
}


.m-t-5 {
    margin-top: 5px !important;
}

.m-b-24 {
    margin-bottom: 24px !important;
}

#mat-select-8-panel {
    margin-top: 35px !important;
}

.lable {
    font-weight: bold;
    color: black;
}