<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button class="fw-600" mat-menu-item *ngIf="id !=='00000000-0000-0000-0000-000000000000'" (click)="Edit()">
    <mat-icon>edit</mat-icon>
    <span>{{"Edit"|translate}}</span>
  </button>
  <button class="fw-600" mat-menu-item *ngIf="id !== '00000000-0000-0000-0000-000000000000'" (click)="Delete()">
    <mat-icon>delete_forever</mat-icon>
    <span>{{"Delete"|translate}}</span>
  </button>
  <button class="fw-600" mat-menu-item *ngIf="id === '00000000-0000-0000-0000-000000000000'" (click)="Save()">
    <mat-icon>save</mat-icon>
    <span>{{"Save"|translate}}</span>
  </button>
</mat-menu>