.event {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 15px;
}

.flex-74 {
    flex: 0 0 86%;

}

.bdr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}

.moreicon {
    position: relative;
    right: 10px;
}



.bdr-invited {
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    background-color: #DCF4E7 !important;
}

.bdr-simulation {
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    background-color: #f8dfdf !important;
}

.btn-black {
    color: black;
}

.bdr-thumbsup {
    background-color: lightblue;
}

.bdr-thumbsdown {
    background-color: lightgrey;
}



.btn-black {
    color: black;
}

.width500 {
    width: 489px;
}

.mat-dialog-container {
    padding: 5px !important;
}

.w-32 {
    width: 52% !important;
}