.home{
    height: 100%;
    overflow-y: auto;
}
.width100{
    width: 100% !important;
}






  @media all and (max-width: 900px) {
  /* Hide the vertical scroll bar */
::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  
  /* Optional: Customize the scrollbar track and thumb appearance */
  ::-webkit-scrollbar-thumb {
    background: transparent;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }





  }