<div>
    <div class="imagelogo">
        <div class="mainimageBodyend">
            <div class="body">
                <h2 class="mainimageTitle">{{"Automated Management"|translate}} </h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-12 col-sm-12  col-md-12 col-lg-6 col-xl-6  imageright1"> </div>
        <div class="col-12 col-12 col-sm-12  col-md-12 col-lg-6 col-xl-6  textcontentbody">
            <div style="padding: 10px;">
                <h2 class="blockheaderstyle">
                    {{"Automated Personalization and Adaptation"|translate}}
                </h2>
                <h2 class="blockteststyle">
                    {{"Through the combination of personalization and advanced configuration, I can create agile operating environments and adaptable but also:"|translate}}
                </h2>
                <div class="row" *ngFor="let x of Automated">
                    
                    <div class="col-2 mt-2"><mat-icon>done</mat-icon></div>
                    <div class="col-10">
                        <h2 class="blockteststyle">
                            {{x|translate}}
                        </h2>
                    </div>
                </div>
                <div class="row mt-2">
                    <!-- <div class="col-3 mt-2" style="display: flex;justify-content: end;">
                        <mat-icon
                            (click)="Videoplay('https://drive.google.com/file/d/1ynxhebPtXcSSL8uschbVudtOtYunIiUR/preview')"
                            class="playiconstyle">play_circle_outline</mat-icon>
                    </div> -->
                    <div class="col-9">
                        <h4 class="singnaturestyle">Marc Vasquez</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 order-2  col-sm-12 order-sm-2 col-md-12 order-md-2 col-lg-6 order-lg-1 order-xl-1 col-xl-6 m-0 textcontentbody"
            style="background-color: black;border: 5px solid white;">
            <div style="padding: 10px;">
                <h2 class="whiteheaderstyle">
                    {{"Automated Workflow Process"|translate}}
                </h2>
                <h2 class="whiteteststyle">
                    {{"This makes it easier for me to collaborate between different departments of the company, and:"|translate}}
                </h2>
                <div class="row" *ngFor="let x of Workflow">
                    
                    <div class="col-2 mt-2"><mat-icon>done</mat-icon></div>
                    <div class="col-10">
                        <h2 class="whiteteststyle">
                            {{x|translate}}
                        </h2>
                    </div>
                </div>
                <div class="row mt-2">
                    <!-- <div class="col-3 mt-2" style="display: flex;justify-content: end;">
                        <mat-icon
                            (click)="Videoplay('https://drive.google.com/file/d/1TJep5GbzjX6j3icT3T7R4cvukCHjp8Du/preview')"
                            class="playiconstyle">play_circle_outline</mat-icon>
                    </div> -->
                    <div class="col-9">
                        <h4 class="singnaturestyle1">Anne Brunelle</h4>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="col-12 order-1 col-sm-12 order-sm-1 col-md-12 order-md-1 col-lg-6 order-lg-2 col-xl-6 order-xl-2  imageright2" style="border: 5px solid white;">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-12 col-sm-12  col-md-12 col-lg-6 col-xl-6  imageright3"> </div>
        <div class="col-12 col-12 col-sm-12  col-md-12 col-lg-6 col-xl-6  textcontentbody">
            <div style="padding: 10px;">
                <h2 class="blockheaderstyle">
                    {{"Automated Notifications and Alerts"|translate}}
                </h2>
                <h2 class="blockteststyle">
                    {{"Automated alerts provide me with real-time updates on developments sales opportunities, interactions with customers, and allows me to:"|translate}}
                </h2>
                <div class="row" *ngFor="let x of Alert">
                    
                    <div class="col-2 mt-2"><mat-icon>done</mat-icon></div>
                    <div class="col-10">
                        <h2 class="blockteststyle">
                            {{x|translate}}
                        </h2>
                    </div>
                </div>
                <div class="row mt-2">
                    <!-- <div class="col-3 mt-2" style="display: flex;justify-content: end;">
                        <mat-icon (click)="Videoplay('')" class="playiconstyle">play_circle_outline</mat-icon>
                    </div> -->
                    <div class="col-9">
                        <h4 class="singnaturestyle">Chloe Hatier</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>