.imageright1 {
    width: 100%;
    height: 500px;
    background-image: url(../../../../../assets/images/report-1.png);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-position: center;
  }
  .imageright2 {
        width: 100%;
      height: 500px;
      background-image: url(../../../../../assets/images/report-2.png);
      background-repeat: no-repeat;
      object-fit: cover;
      background-size: cover;
      background-position: center;
    }
    .imageright3 {
        width: 100%;
      height: 500px;
      background-image: url(../../../../../assets/images/report-3.png);
      background-repeat: no-repeat;
      object-fit: cover;
      background-size: cover;
      background-position: center;
    }

  
  
  .imagelogo {
    width: 100%;
    height: 600px;
    object-fit: cover;
    background-image: url(../../../../../assets/images/report.png);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-position: center;

  }
  
  

  
  
  .textcontentstyle{
      width: 90%;
      align-items: center;
      display: flex;
      justify-content: center;
      
  }
  
  .textcontentbody{
    display: flex;
    margin: auto;
  overflow-y: hidden;
  overflow: hidden;
  }
  
  
  
  
  
  
