<div>
    <div class="imagelogo">
        <div class="mainimageBodystart">
            <div class="body">
                <h2 class="mainimageTitle">{{'Document Management'|translate}}</h2>
                <h2 class="mainimageText">
                    {{"Découvrez notre interface de paramètres avancée, puissante et conviviale"|translate}}
                </h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-12 col-sm-12  col-md-12 col-lg-6 col-xl-6  imageright1"></div>
        <div class="col-12 col-12 col-sm-12  col-md-12 col-lg-6 col-xl-6  textcontentbody">
            <div style="padding: 10px;">
                <h2 class="blockheaderstyle">
                    {{"Security and Access Management"|translate}}   
                </h2>
                <h2 class="blockteststyle">
                    {{"Access management allows me to control which user can reach which information and :"|translate}}   
                </h2>
                <div class="row" *ngFor="let x of Security">
                    <div class="col-2 mt-2"><mat-icon>done</mat-icon></div>
                    <div class="col-10">
                        <h2 class="blockteststyle">
                            {{x|translate}}
                        </h2>
                    </div>
                </div>
                <div class="row mt-2">
                    <!-- <div class="col-3 mt-2" style="display: flex;justify-content: end;">
                        <mat-icon (click)="Videoplay('https://drive.google.com/file/d/1ZnGAAzWH_3Mde3gmZrLQQjQVHNTaNWok/preview')" class="playiconstyle">play_circle_outline</mat-icon>
                    </div> -->
                    <div class="col-9">
                        <h4 class="singnaturestyle">Marc Vasquez</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-12 order-2  col-sm-12 order-sm-2 col-md-12 order-md-2 col-lg-6 order-lg-1 order-xl-1 col-xl-6 m-0 textcontentbody"
        style="background-color: black;border: 5px solid white;">
            <div style="padding: 10px;">
                <h2 class="whiteheaderstyle">
                    {{"Integration with Other Tools"|translate}}      
                </h2>
                <h2 class="whiteteststyle">
                    {{"I am able to adjust our tools in a way fluid, thus ensuring adaptability and constant scalability, then"|translate}}      
                </h2>
                <div class="row" *ngFor="let x of Tools">
                    <div class="col-2 mt-2"><mat-icon>done</mat-icon></div>
                    <div class="col-10">
                        <h2 class="whiteteststyle">
                            {{x|translate}}
                        </h2>
                    </div>
                </div>
                <div class="row mt-2">
                    <!-- <div class="col-3 mt-2" style="display: flex;justify-content: end;">
                        <mat-icon (click)="Videoplay('https://drive.google.com/file/d/1W9VLLb-rzp3ti0VHKjgggnl2y2S9O9De/preview')" class="playiconstyle">play_circle_outline</mat-icon>
                    </div> -->
                    <div class="col-9">
                        <h4 class="singnaturestyle1">Anne Brunelle</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 order-1 col-sm-12 order-sm-1 col-md-12 order-md-1 col-lg-6 order-lg-2 col-xl-6 order-xl-2 imageright2" style="border: 5px solid white;"> </div>
    </div>

    <div class="row">
        <div class="col-12 col-12 col-sm-12  col-md-12 col-lg-6 col-xl-6  imageright3"> </div>
        <div class="col-12 col-12 col-sm-12  col-md-12 col-lg-6 col-xl-6  textcontentbody">
            <div style="padding: 10px;">
                <h2 class="blockheaderstyle">
                    {{"Centralized Storage"|translate}}                    
                </h2>
                <h2 class="blockteststyle">
                    {{"I have easy and quick access to all information I need, such as sales documents, presentations, contracts and I also have:"|translate}}                    
                </h2>
                <div class="row" *ngFor="let x of Storage">
                    <div class="col-2 mt-2"><mat-icon>done</mat-icon></div>
                    <div class="col-10">
                        <h2 class="blockteststyle">
                            {{x|translate}}
                        </h2>
                    </div>
                </div>
                <div class="row mt-2">
                    <!-- <div class="col-3 mt-2" style="display: flex;justify-content: end;">
                        <mat-icon (click)="Videoplay('')" class="playiconstyle">play_circle_outline</mat-icon>
                    </div> -->
                    <div class="col-9">
                        <h4 class="singnaturestyle">Paul Fondal </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




