ion-grid,
ion-row,
ion-list,
ion-col {
    padding: var(--ion-no-padding);
}

ion-item {
    --padding-start: 0px !important;
    --inner-padding-end: 0px !important;
    --background-focused: transparent;
}

.width60 {
    width: 60%;
}

.create-button-row {
    display: table-cell;
    position: relative;
}

.create-button-row button {
    display: table-cell;
    margin-right: 8px;
    position: fixed;
    right: 0;
    z-index: 1;
    bottom: 9px;
}

.create-flex-container {
    display: flex;
    justify-content: space-between;
    width: 480px;
}

.create-button-container {
    display: flex;
    justify-content: center;
    width: 120px;

    .mat-icon {
        color: #fff;
    }
}

.mat-form-field {
    width: 100%;
}

.btn-flex {
    flex: 0 0 auto;
    width: auto;
    margin-right: 16px;
}

.bdr {
    border-bottom: 1px solid #989aa2;
    padding: 16px;
    font-size: 16px;
    background: #f44336;
    color: #fff;
    font-weight: bold;
}

.savedCharts {
    display: flex;
    justify-content: space-evenly;
}

.mb-20 {
    margin-bottom: 25px;
}

.right {
    float: right;
    margin: 20px;
    position: sticky;
    bottom: 20px;
}

.w-50 {
    width: 50%;
}

::ng-deep .graph .mat-checkbox-frame {
    border-color: white
}

::ng-deep .chart-legend .horizontal-legend li {
    display: block !important;
}

.m-12 {
    margin-right: 12px;
}

::ng-deep .legend-title-text {
    display: none !important;
}

.rowheight {
    height: 170px;
    overflow: auto;
}

::ng-deep .ngx-charts .tick {
    text {
        font-weight: bold;
    }
}

.chart-container {
    width: 100%;
    overflow-x: scroll;
}
 
.info-icon-chart {
    vertical-align: bottom;
    margin-right: 7px;
}

pm-graph-more {
    margin-left: -5px;
}

mat-checkbox {
    color: #fff;

}

.greyed {
    color: #afb7c8;
    margin-right: 10px;
}

.chart-height {
    height: fit-content;
}

.saveaction {
    justify-content: space-between;
    padding: 0 20px;
}

.saveallform {
    width: 100%;
}

.overflow {
    overflow: hidden;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 8px;
}

.padding-20 {
    padding: 20px;
}

.width35 {
    width: 35%;
}

.m-l-11 {
    margin-left: 20px;
}

mat-card {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    padding: 0 !important;
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right:10px;
    padding-left:10px;
    margin-right: auto;
    margin-left: auto;
}


// 00000000000000 
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    overflow-x: scroll;
    white-space: nowrap;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

::ng-deep .ngx-charts .grid-panel.odd rect {
    fill: #fff !important;
}

::ng-deep .ngx-charts-bar {
    margin-right: 5px; /* Example spacing between bars */
}

